<% include ../partials/header %>

<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();
</script>
  <div class="container">
    <h1> <%= title %> </h1>

    <h2>This is our <strong>Chat application</strong></h2>
    <div class="row">
      <div class="col-md-12 mainchat">
        <ul id="messages" class="col-md-12"></ul>
        <div class="input-group">
          <form action="">
              <input class="form-control" id="m"  type="text" autocomplete="off" /><button>Send</button>
          </form>
        </div>

      </div>

    </div>



    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
      $(function () {
        var socket = io();
        $('form').submit(function(){
          socket.emit('chat message', $('#m').val());
          $('#m').val('');
          return false;
        });
        socket.on('chat message', function(msg){
          $('#messages').append($('<li>').text(msg));
          window.scrollTo(0, document.body.scrollHeight);
        });
      });
    </script>


  </div>


<% include ../partials/footer %>
